In [1]:
import pandas as pd

usa = pd.read_csv('us_refugee.csv')
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:,}'.format)
usa.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers
0,1988,Afghanistan,AFG,United States of America,USA,12853,0
1,1989,Afghanistan,AFG,United States of America,USA,12196,0
2,1990,Afghanistan,AFG,United States of America,USA,11488,0
3,1991,Afghanistan,AFG,United States of America,USA,10388,0
4,1992,Afghanistan,AFG,United States of America,USA,8686,0

In [2]:
usa.columns = usa.columns.str.replace(' ','_').str.replace('-','_').str.replace("'", "").str.lower()
usa = usa.rename(columns={'refugees_under_unhcrs_mandate': 'refugee'})
usa = usa.rename(columns={'country_of_origin': 'country'})
usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4757 entries, 0 to 4756
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     4757 non-null   int64
 1   country                  4757 non-null   object
 2   country_of_origin_(iso)  4686 non-null   object
 3   country_of_asylum        4757 non-null   object
 4   country_of_asylum_(iso)  4757 non-null   object
 5   refugee                  4757 non-null   int64
 6   asylum_seekers           4757 non-null   int64
dtypes: int64(3), object(4)
memory usage: 260.3+ KB

In [3]:
usa.describe()

                     year             refugee      asylum_seekers
count             4,757.0             4,757.0             4,757.0
mean  2,007.2619297876813 7,068.2545722093755 1,638.0868194240068
std       9.3072002870607  48,007.80148869238  10,484.84646843237
min               1,951.0                 0.0                 0.0
25%               2,001.0                18.0                 0.0
50%               2,008.0               152.0                30.0
75%               2,015.0             1,268.0               283.0
max               2,021.0           734,000.0           230,260.0

In [4]:
image = pd.read_csv('image.csv')
image.columns = image.columns.str.replace(' ','_').str.lower()
image = image.rename(columns={'country_name': 'country'})
image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    215 non-null    object
 1   region     215 non-null    object
 2   image_url  215 non-null    object
dtypes: object(3)
memory usage: 5.2+ KB

In [5]:
usa['refugee_asylum'] = usa.refugee + usa.asylum_seekers
usa.head()

,year,country,country_of_origin_(iso),country_of_asylum,country_of_asylum_(iso),refugee,asylum_seekers,refugee_asylum
0,1988,Afghanistan,AFG,United States of America,USA,12853,0,12853
1,1989,Afghanistan,AFG,United States of America,USA,12196,0,12196
2,1990,Afghanistan,AFG,United States of America,USA,11488,0,11488
3,1991,Afghanistan,AFG,United States of America,USA,10388,0,10388
4,1992,Afghanistan,AFG,United States of America,USA,8686,0,8686

In [6]:
pivot = usa.pivot_table(index="country", columns= "year", values="refugee_asylum")
pivot

year,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"12,853.0","12,196.0","11,488.0","10,388.0","8,686.0","7,728.0","6,169.0","4,992.0","3,804.0","2,651.0","1,872.0","2,587.0","4,643.0","7,756.0","9,227.0","9,821.0","9,923.0","8,931.0","13,348.0","2,438.0","2,165.0","1,771.0","1,410.0","1,210.0","1,147.0","1,309.0","1,622.0","1,970.0","2,250.0","2,374.0","2,364.0","2,356.0","2,388.0","2,651.0"
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,295.0,296.0,349.0,"1,628.0","2,711.0","3,127.0","3,298.0","3,437.0","2,611.0","1,999.0","2,286.0","2,886.0","5,295.0","6,691.0","7,753.0","6,935.0","6,334.0","6,037.0","9,032.0","8,364.0","7,698.0","7,160.0","6,023.0","5,224.0","4,460.0","3,938.0","3,739.0","3,423.0","3,074.0","3,163.0","3,233.0","3,338.0","3,443.0","4,144.0"
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,209.0,320.0,551.0,775.0,"1,001.0",995.0,922.0,722.0,465.0,337.0,"1,096.0",879.0,642.0,411.0,288.0,245.0,222.0,230.0,228.0,244.0,279.0,405.0,480.0,534.0,589.0,702.0
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5.0,5.0,5.0,10.0,5.0,5.0,5.0,5.0,5.0,5.0,6.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212.0,149.0,133.0,151.0,115.0,102.0,90.0,33.0,19.0,22.0,38.0,77.0,177.0,279.0,329.0,272.0,311.0,316.0,412.0,279.0,267.0,268.0,206.0,169.0,151.0,261.0,444.0,693.0,957.0,"1,300.0","1,623.0","1,930.0","2,359.0","3,499.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,30.0,51.0,99.0,144.0,570.0,"1,575.0","3,353.0","4,888.0","5,428.0","5,520.0","5,897.0","6,264.0","5,810.0","6,682.0","7,218.0","8,060.0","10,710.0","17,338.0","34,624.0","64,213.0","93,059.0","120,695.0","146,959.0","248,402.0"
Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"113,734.0","120,243.0","137,577.0","158,999.0","180,326.0","205,469.0","211,376.0","201,816.0","174,633.0","137,787.0","105,692.0","78,355.0","49,211.0","35,299.0","30,659.0","21,375.0","12,490.0","10,336.0","45,869.0",297.0,271.0,288.0,255.0,270.0,277.0,382.0,436.0,479.0,546.0,700.0,846.0,"1,281.0","1,706.0","1,978.0"
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,58.0,104.0,149.0,199.0,240.0,473.0,446.0,413.0,340.0,336.0,301.0,455.0,409.0,371.0,391.0,358.0,369.0,389.0,486.0,688.0,"1,118.0","1,351.0","1,457.0","1,406.0","1,503.0","1,535.0","1,819.0"
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,16.0,23.0,27.0,50.0,21.0,81.0,101.0,126.0,141.0,157.0,125.0,110.0,112.0,103.0,105.0,96.0,94.0,87.0,79.0,84.0,110.0,188.0,137.0,164.0,194.0
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,11.0,11.0,23.0,59.0,358.0,633.0,995.0,"1,360.0","1,461.0","1,458.0","1,719.0","1,893.0","1,798.0","1,910.0","1,905.0","1,809.0","1,772.0","1,577.0","1,736.0","1,817.0","1,699.0","1,692.0","1,797.0","1,967.0"

In [7]:
usa_final= pd.merge(pivot, image, how ='left', on="country")
usa_final.head()

,country,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,region,image_url
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"12,853.0","12,196.0","11,488.0","10,388.0","8,686.0","7,728.0","6,169.0","4,992.0","3,804.0","2,651.0","1,872.0","2,587.0","4,643.0","7,756.0","9,227.0","9,821.0","9,923.0","8,931.0","13,348.0","2,438.0","2,165.0","1,771.0","1,410.0","1,210.0","1,147.0","1,309.0","1,622.0","1,970.0","2,250.0","2,374.0","2,364.0","2,356.0","2,388.0","2,651.0",Asia,https://public.flourish.studio/country-flags/s...
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,295.0,296.0,349.0,"1,628.0","2,711.0","3,127.0","3,298.0","3,437.0","2,611.0","1,999.0","2,286.0","2,886.0","5,295.0","6,691.0","7,753.0","6,935.0","6,334.0","6,037.0","9,032.0","8,364.0","7,698.0","7,160.0","6,023.0","5,224.0","4,460.0","3,938.0","3,739.0","3,423.0","3,074.0","3,163.0","3,233.0","3,338.0","3,443.0","4,144.0",Europe,https://public.flourish.studio/country-flags/s...
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,209.0,320.0,551.0,775.0,"1,001.0",995.0,922.0,722.0,465.0,337.0,"1,096.0",879.0,642.0,411.0,288.0,245.0,222.0,230.0,228.0,244.0,279.0,405.0,480.0,534.0,589.0,702.0,Africa,https://public.flourish.studio/country-flags/s...
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5.0,5.0,5.0,10.0,5.0,5.0,5.0,5.0,5.0,5.0,6.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Europe,https://public.flourish.studio/country-flags/s...
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212.0,149.0,133.0,151.0,115.0,102.0,90.0,33.0,19.0,22.0,38.0,77.0,177.0,279.0,329.0,272.0,311.0,316.0,412.0,279.0,267.0,268.0,206.0,169.0,151.0,261.0,444.0,693.0,957.0,"1,300.0","1,623.0","1,930.0","2,359.0","3,499.0",Africa,https://public.flourish.studio/country-flags/s...

In [8]:
usa_final.to_csv('usa_output.csv',index=False)

In [10]:
canada = pd.read_csv('cn_refugee.csv')
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:,}'.format)
canada.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers
0,1994,Afghanistan,AFG,Canada,CAN,4399,0
1,1995,Afghanistan,AFG,Canada,CAN,4575,0
2,1996,Afghanistan,AFG,Canada,CAN,5056,0
3,1997,Afghanistan,AFG,Canada,CAN,6046,0
4,1998,Afghanistan,AFG,Canada,CAN,6754,0

In [12]:
canada.columns = canada.columns.str.replace(' ','_').str.replace('-','_').str.replace("'", "").str.lower()
canada = canada.rename(columns={'refugees_under_unhcrs_mandate': 'refugee'})
canada = canada.rename(columns={'country_of_origin': 'country'})

canada['refugee_asylum'] =canada.refugee +canada.asylum_seekers
canada.head()

,year,country,country_of_origin_(iso),country_of_asylum,country_of_asylum_(iso),refugee,asylum_seekers,refugee_asylum
0,1994,Afghanistan,AFG,Canada,CAN,4399,0,4399
1,1995,Afghanistan,AFG,Canada,CAN,4575,0,4575
2,1996,Afghanistan,AFG,Canada,CAN,5056,0,5056
3,1997,Afghanistan,AFG,Canada,CAN,6046,0,6046
4,1998,Afghanistan,AFG,Canada,CAN,6754,0,6754

In [14]:
pivot_cn = canada.pivot_table(index="country", columns= "year", values="refugee_asylum")

In [16]:
cn_final= pd.merge(pivot_cn, image, how ='left', on="country")
cn_final.to_csv('cn_output.csv',index=False)

In [17]:
#Mexico
mx = pd.read_csv('mex_refugee.csv')
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:,}'.format)
mx.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers
0,2021,Afghanistan,AFG,Mexico,MEX,5,0
1,2021,Albania,ALB,Mexico,MEX,8,0
2,2021,Algeria,DZA,Mexico,MEX,5,5
3,2021,Angola,AGO,Mexico,MEX,10,247
4,2021,Egypt,EGY,Mexico,MEX,5,10

In [18]:
mx.columns = mx.columns.str.replace(' ','_').str.replace('-','_').str.replace("'", "").str.lower()
mx = mx.rename(columns={'refugees_under_unhcrs_mandate': 'refugee'})
mx = mx.rename(columns={'country_of_origin': 'country'})

mx['refugee_asylum'] =mx.refugee +mx.asylum_seekers
mx.head()

,year,country,country_of_origin_(iso),country_of_asylum,country_of_asylum_(iso),refugee,asylum_seekers,refugee_asylum
0,2021,Afghanistan,AFG,Mexico,MEX,5,0,5
1,2021,Albania,ALB,Mexico,MEX,8,0,8
2,2021,Algeria,DZA,Mexico,MEX,5,5,10
3,2021,Angola,AGO,Mexico,MEX,10,247,257
4,2021,Egypt,EGY,Mexico,MEX,5,10,15

In [19]:
pivot_mx = mx.pivot_table(index="country", columns= "year", values="refugee_asylum")

In [20]:
mx_final= pd.merge(pivot_mx, image, how ='left', on="country")
mx_final.to_csv('mx_output.csv',index=False)

In [26]:
#Refugee only
pivot_usa2 = usa.pivot_table(index="country", columns= "year", values="refugee")

In [27]:
usa2_final= pd.merge(pivot_usa2, image, how ='left', on="country")
usa2_final.to_csv('usa2_output.csv',index=False)

In [28]:
# Refugee only canada
pivot_cn2 = canada.pivot_table(index="country", columns= "year", values="refugee")
cn2_final= pd.merge(pivot_cn2, image, how ='left', on="country")
cn2_final.to_csv('cn2_output.csv',index=False)

In [30]:
# Refugee only mexico
pivot_mx2 = mx.pivot_table(index="country", columns= "year", values="refugee")
mx2_final= pd.merge(pivot_mx2, image, how ='left', on="country")
mx2_final.to_csv('mx2_output.csv',index=False)